<?xml version="1.0" encoding="utf-8"?>
<security>
  <services>
    <service prefix="media/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="Container" value="rousecommedia"/>
        <setting key="MaxBytes" value="50194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Host" value="https://rousesinapps.blob.core.windows.net"/>
      </settings>
    </service>

    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="50194304" />
        <setting key="Timeout" value="3000" />
        <setting key="Protocol" value="http" />
      </settings>
      <whitelist>
        <add url="https://rousecom.azureedge.net/" />
        <add url="https://rousesinapps.blob.core.windows.net/" />
        <add url="https://rousecomdev.blob.core.windows.net/" />
      </whitelist>
    </service>
  </services>
</security>

