@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="cookies-notification">
    <div class="container">
           <div id="ensBannerDescription">
        We use cookies to enhance your user experience. To see which cookies we use please see our <a target="blank" href="/support-pages/cookie-policy" style="text-decoration: underline; color: black;">Cookie Statement</a>. If you accept, you
        agree to us storing and accessing cookies on your device.
    </div>
    <div class="ensButtons" id="btnAcceptCookies"><button onclick="AcceptCookies()">Accept and close</button></div>
         </div>
 
    <div class="ensClear"></div>
</div>