@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models


    <div class="form-horizontal">
        @using (Html.BeginUmbracoForm("UploadFolder", "NewsSurface", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="box-body">
            <div class="form-group">
                <label>Please choose root folder</label> <br />
                <input type="file" name="files" webkitdirectory directory multiple />
            </div>
            <br />
            <div class="form-group">
                <label>Content ID</label> <br />
                <input type="number" name="contentId" />
            </div>
            <br />
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        }
    </div>

    @if (TempData["message"] != null)
    {
    
    <p>Result: @TempData["message"]</p>
    


    }

