@inherits Umbraco.Web.Mvc.UmbracoViewPage
    <div class="list-country">
			             
			                            	<ul class="group-country">
                                               <span>Greater China</span>     
                                                                                 <li><a href="/where-we-work/china/">Beijing</a></li>
                                                                                   <li><a href="/where-we-work/china/">Guangzhou</a></li>
                                                                              <li><a href="/where-we-work/china/">Hong Kong</a></li>
                                                                    	      <li><a href="/where-we-work/china/">Shanghai</a></li>
                                                                    	      <li><a href="/where-we-work/china/">Shenzhen</a></li>
                                                                    	     
                                							
                                           </ul>
                                		<ul class="group-country">
                                               <span> South East Asia </span> 
                                    
                                                                              <li><a href="/where-we-work/cambodia/">Cambodia</a></li>
                                                                    	      <li><a href="/where-we-work/indonesia/">Indonesia</a></li>
                                                                    	      <li><a href="/where-we-work/myanmar/">Myanmar</a></li>
                                                                    	      <li><a href="/where-we-work/philippines/">Philippines</a></li>
                                                                    	      <li><a href="/where-we-work/thailand/">Thailand</a></li>
                                                                    	      <li><a href="/where-we-work/vietnam/">Vietnam</a></li>
                                		
                                							
                                							
                                							
                                							
                                           </ul>
                                		<ul class="group-country">
                                               <span> Europe, Middle East  &amp;  Africa </span> 
                                    
                                       
                                                                                <li><a href="/where-we-work/africa/">Africa</a></li>
                                                                    	      <li><a href="/where-we-work/russia/">Russia</a></li>
                                                                    	      <li><a href="/where-we-work/saudi-arabia/">Saudi Arabia</a></li>
                                                                    	      <li><a href="/where-we-work/sweden/">Sweden</a></li>
                                                                    	      <li><a href="/where-we-work/united-arab-emirates/">United Arab Emirates</a></li>
                                                                    	      <li><a href="/where-we-work/united-kingdom/">United Kingdom</a></li>
                                                                    	    
                                		
                                							
                                							
                                							
                                							
                                           </ul>
                                	
	</div>


          
                 
                 

              