@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@

    @Html.Partial("page/webinars/WebinarsTop") 

  
    
    
       <section class="image-content-box-section blog-network-section ip-portfolio-blogs-section">
				<div class="container">
					<div class="section-content">
						<div class="section-title">
							<h3>IP Portfolio Webinar</h3>
						</div>
						
                                 @Html.Partial("page/webinars/Slider") 
     
     					</div>
				</div>	
    </section>
    
     <section class="image-content-box-section blog-network-section ip-portfolio-blogs-section">
				<div class="container">
					<div class="section-content">
						<div class="section-title">
							<h3>IP Enforcement & Brand Protection Webinar</h3>
						</div>
						
                                 @Html.Partial("page/webinars/Slider") 
     
     					</div>
				</div>	
    </section>
    
     <section class="image-content-box-section blog-network-section ip-portfolio-blogs-section">
				<div class="container">
					<div class="section-content">
						<div class="section-title">
							<h3>IP Legal Case Webinar</h3>
						</div>
						
                                 @Html.Partial("page/webinars/Slider") 
     
     					</div>
				</div>	
    </section>