<?xml version="1.0" encoding="utf-8"?>
<Content Key="0923c2a5-016d-403c-92f6-92878a31b139" Alias="In at iaculis lorem" Level="3">
  <Info>
    <Parent Key="238166b3-7efc-49e1-ab2c-5f48d5206751">News</Parent>
    <Path>/Home/News/InAtIaculisLorem</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2019-12-16T13:52:07</CreateDate>
    <NodeName Default="In at iaculis lorem" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
  </Info>
  <Properties>
    <newsAuthor>
      <Value><![CDATA[umb://document/669711d37f874bce94cb0d631af84164]]></Value>
    </newsAuthor>
    <newsCategory>
      <Value><![CDATA[["News Room"]]]></Value>
    </newsCategory>
    <newsContent>
      <Value><![CDATA[<p>Praesent tempor dictum tellus ut molestie. Sed sed ullamcorper lorem, id faucibus odio. Duis eu nisl ut ligula cursus molestie at at dolor. Nulla est justo, pellentesque vel lectus eget, fermentum varius dui. Morbi faucibus quam sed efficitur interdum. Suspendisse in pretium magna. Vivamus nec orci purus. Quisque accumsan dictum urna semper laoreet. Sed id rutrum tellus. In nisi sapien, sagittis faucibus tincidunt et, lacinia id felis. Ut tempor lectus porta, tempus orci ac, feugiat tellus. Suspendisse sagittis libero vitae metus sodales, id semper justo congue. Donec quam lorem, efficitur sit amet ex dapibus, venenatis sodales justo. Nulla arcu tellus, lacinia ac feugiat ac, cursus eget felis. Pellentesque fringilla quam ac ex convallis, vel imperdiet magna laoreet.</p>
<p> </p>]]></Value>
    </newsContent>
    <newsHashtag>
      <Value><![CDATA[["CHINA","TRADEMARK","IP LAW"]]]></Value>
    </newsHashtag>
    <newsImage>
      <Value><![CDATA[umb://media/e7e42862faf441d1a15f015eef01d4f1]]></Value>
    </newsImage>
    <newsInLandingPage>
      <Value><![CDATA[1]]></Value>
    </newsInLandingPage>
    <newsSummary>
      <Value><![CDATA[]]></Value>
    </newsSummary>
    <newsTimeRead>
      <Value><![CDATA[8]]></Value>
    </newsTimeRead>
    <newsTitle>
      <Value><![CDATA[In at iaculis lorem]]></Value>
    </newsTitle>
  </Properties>
</Content>