<?xml version="1.0" encoding="utf-8"?>
<Content Key="238166b3-7efc-49e1-ab2c-5f48d5206751" Alias="News" Level="2">
  <Info>
    <Parent Key="89cda73a-5d7f-485d-ba47-8cf471e1678b">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newspost</ContentType>
    <CreateDate>2019-11-19T09:42:52</CreateDate>
    <NodeName Default="News" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a421866-5611-4738-a91c-cb29ccaa6e68">News</Template>
  </Info>
  <Properties />
</Content>