<?xml version="1.0" encoding="utf-8"?>
<Content Key="8152e400-2dcd-4dfd-b361-65cde22dfa16" Alias="Automation in retail" Level="3">
  <Info>
    <Parent Key="238166b3-7efc-49e1-ab2c-5f48d5206751">News</Parent>
    <Path>/Home/News/AutomationInRetail</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2019-12-11T13:14:34</CreateDate>
    <NodeName Default="Automation in retail" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
  </Info>
  <Properties>
    <newsAuthor>
      <Value><![CDATA[umb://document/669711d37f874bce94cb0d631af84164]]></Value>
    </newsAuthor>
    <newsCategory>
      <Value><![CDATA[["Rouse Blog Network"]]]></Value>
    </newsCategory>
    <newsContent>
      <Value><![CDATA[<p>Automation will shape retail and the broader value chain.<br />Understand the implications and how to act in order to win.</p>]]></Value>
    </newsContent>
    <newsHashtag>
      <Value><![CDATA[["CHINA","TRADEMARK","IP LAW"]]]></Value>
    </newsHashtag>
    <newsImage>
      <Value><![CDATA[umb://media/e7e42862faf441d1a15f015eef01d4f1]]></Value>
    </newsImage>
    <newsInLandingPage>
      <Value><![CDATA[1]]></Value>
    </newsInLandingPage>
    <newsSummary>
      <Value><![CDATA[<p>Automation will shape retail and the broader value chain.<br />Understand the implications and how to act in order to win.</p>]]></Value>
    </newsSummary>
    <newsTimeRead>
      <Value><![CDATA[8]]></Value>
    </newsTimeRead>
    <newsTitle>
      <Value><![CDATA[Automation in retail]]></Value>
    </newsTitle>
  </Properties>
</Content>