<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba4fd78a-8f4a-4fb8-bbb7-e2e65bc5c159" Alias="Nunc scelerisque tincidunt elit." Level="3">
  <Info>
    <Parent Key="238166b3-7efc-49e1-ab2c-5f48d5206751">News</Parent>
    <Path>/Home/News/NuncScelerisqueTinciduntElit</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2019-12-16T13:52:16</CreateDate>
    <NodeName Default="Nunc scelerisque tincidunt elit." />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
  </Info>
  <Properties>
    <newsAuthor>
      <Value><![CDATA[umb://document/669711d37f874bce94cb0d631af84164]]></Value>
    </newsAuthor>
    <newsCategory>
      <Value><![CDATA[["News Room"]]]></Value>
    </newsCategory>
    <newsContent>
      <Value><![CDATA[<p>Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra, ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna, hendrerit venenatis sem.</p>
<p> </p>]]></Value>
    </newsContent>
    <newsHashtag>
      <Value><![CDATA[["CHINA","TRADEMARK","IP LAW"]]]></Value>
    </newsHashtag>
    <newsImage>
      <Value><![CDATA[umb://media/e7e42862faf441d1a15f015eef01d4f1]]></Value>
    </newsImage>
    <newsInLandingPage>
      <Value><![CDATA[1]]></Value>
    </newsInLandingPage>
    <newsSummary>
      <Value><![CDATA[]]></Value>
    </newsSummary>
    <newsTimeRead>
      <Value><![CDATA[7]]></Value>
    </newsTimeRead>
    <newsTitle>
      <Value><![CDATA[Nunc scelerisque tincidunt elit.]]></Value>
    </newsTitle>
  </Properties>
</Content>