<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbad6237-6fa3-430e-afba-c1d4ab337aac" Alias="The journey to an agile organization" Level="3">
  <Info>
    <Parent Key="238166b3-7efc-49e1-ab2c-5f48d5206751">News</Parent>
    <Path>/Home/News/TheJourneyToAnAgileOrganization</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2019-12-11T13:14:11</CreateDate>
    <NodeName Default="The journey to an agile organization" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
  </Info>
  <Properties>
    <newsAuthor>
      <Value><![CDATA[umb://document/669711d37f874bce94cb0d631af84164]]></Value>
    </newsAuthor>
    <newsCategory>
      <Value><![CDATA[["Default"]]]></Value>
    </newsCategory>
    <newsContent>
      <Value><![CDATA[<p>All successful agile transformations share common elements</p>]]></Value>
    </newsContent>
    <newsHashtag>
      <Value><![CDATA[["đ"]]]></Value>
    </newsHashtag>
    <newsImage>
      <Value><![CDATA[umb://media/e7e42862faf441d1a15f015eef01d4f1]]></Value>
    </newsImage>
    <newsInLandingPage>
      <Value><![CDATA[1]]></Value>
    </newsInLandingPage>
    <newsSummary>
      <Value><![CDATA[<p>All successful agile transformations share common elements</p>]]></Value>
    </newsSummary>
    <newsTimeRead>
      <Value><![CDATA[7]]></Value>
    </newsTimeRead>
    <newsTitle>
      <Value><![CDATA[The journey to an agile organization]]></Value>
    </newsTitle>
  </Properties>
</Content>