<?xml version="1.0" encoding="utf-8"?>
<Content Key="e972681c-4ac5-41d8-a759-c60f9d625c41" Alias="Urna elit bibendum" Level="3">
  <Info>
    <Parent Key="238166b3-7efc-49e1-ab2c-5f48d5206751">News</Parent>
    <Path>/Home/News/UrnaElitBibendum</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2020-01-10T14:36:31</CreateDate>
    <NodeName Default="Urna elit bibendum" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
  </Info>
  <Properties>
    <newsAuthor>
      <Value><![CDATA[umb://document/669711d37f874bce94cb0d631af84164]]></Value>
    </newsAuthor>
    <newsCategory>
      <Value><![CDATA[["Rouse Webinars"]]]></Value>
    </newsCategory>
    <newsContent>
      <Value><![CDATA[<p>Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est.</p>]]></Value>
    </newsContent>
    <newsHashtag>
      <Value><![CDATA[["đ"]]]></Value>
    </newsHashtag>
    <newsImage>
      <Value><![CDATA[umb://media/e7e42862faf441d1a15f015eef01d4f1]]></Value>
    </newsImage>
    <newsInLandingPage>
      <Value><![CDATA[1]]></Value>
    </newsInLandingPage>
    <newsSummary>
      <Value><![CDATA[<p>Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est.</p>]]></Value>
    </newsSummary>
    <newsTimeRead>
      <Value><![CDATA[7]]></Value>
    </newsTimeRead>
    <newsTitle>
      <Value><![CDATA[Urna elit bibendum]]></Value>
    </newsTitle>
  </Properties>
</Content>