<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cea460b-cdb0-4de2-9480-044d90e04470" Alias="New - Title - Textbox" Level="1">
  <Info>
    <Name>New - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>