<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "ThumnailMedium",
      "width": 588,
      "height": 390
    },
    {
      "alias": "TeaserSmall",
      "width": 431,
      "height": 312
    },
    {
      "alias": "HubImage",
      "width": 960,
      "height": 468
    },
    {
      "alias": "HubImageWide",
      "width": 1120,
      "height": 468
    },
    {
      "alias": "HubImageNarrow",
      "width": 800,
      "height": 468
    },
    {
      "alias": "ThumbnailSmall",
      "width": 430,
      "height": 260
    },
    {
      "alias": "Magazine Article",
      "width": 580,
      "height": 164
    }
  ]
}]]></Config>
</DataType>