<?xml version="1.0" encoding="utf-8"?>
<DataType Key="287f0c1b-ee28-49e8-8081-0844c0988d81" Alias="News - News Author - Content Picker" Level="1">
  <Info>
    <Name>News - News Author - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/ebc2bcf1872342d483c768df34414fdf",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>