<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46af51ea-9409-4ad5-8900-442cf4ca0114" Alias="Category - News Category Dropdown - Dropdown" Level="2">
  <Info>
    <Name>Category - News Category Dropdown - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>rouse</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Insights"
    },
    {
      "id": 2,
      "value": "Case Studies"
    },
    {
      "id": 3,
      "value": "Latest IP"
    },
    {
      "id": 4,
      "value": "Rouse Webinars"
    },
    {
      "id": 5,
      "value": "Rouse Blog Network"
    },
    {
      "id": 6,
      "value": "Lastest Post"
    },
    {
      "id": 7,
      "value": "News Room"
    },
    {
      "id": 8,
      "value": "Success Stories"
    },
    {
      "id": 9,
      "value": "Default"
    }
  ]
}]]></Config>
</DataType>