<?xml version="1.0" encoding="utf-8"?>
<DataType Key="634904ad-d489-41a4-9e98-2a9e1460712a" Alias="News - NewsInLandingPage - Checkbox" Level="1">
  <Info>
    <Name>News - NewsInLandingPage - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>