<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68f499ab-5b0b-40cb-b038-69a37534fecc" Alias="News - Image - Media Picker" Level="1">
  <Info>
    <Name>News - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>