<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89d6a7ac-78a2-4068-b4f5-971b0ee8d050" Alias="News - News Time Read - Numeric" Level="1">
  <Info>
    <Name>News - News Time Read - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>