<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b05ca26c-2b9e-43d0-b986-651780b96241" Alias="News - News Hashtag - Tags" Level="1">
  <Info>
    <Name>News - News Hashtag - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>