<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div style="border-top: 3px solid #22BCE5">
        &nbsp;
    </div>
    <span style="font-family: Arial; font-size: 10pt">
        Hi, <br />
        <p>
        This is an automated email to inform you that the email address below
would like to subscribe to our latest insights:
        </p>
        <p>Email Address:  {Email}</p>
      
        <br />
        <br />
        Thank you<br />

    </span>
</body>
</html>