<?xml version="1.0" encoding="utf-8"?>
<cmsImport>
  <version>4.0</version>
  <loginMail>
    <fromAddress>robot@cmsimport.com</fromAddress>
    <subject>your account is ready</subject>
  </loginMail>
  <scheduledTaskMail>
    <fromAddress>robot@cmsimport.com</fromAddress>
    <subject>Scheduled task executed</subject>
  </scheduledTaskMail>
  <mediaSettings>
    <allowedFileExtensions>.doc,.docx,.pdf,.ppt,.pptx,.rar,.xls,.xlsx,.zip</allowedFileExtensions>
    <mediaImportAllowedDomains />
    <mediaImportLocation>/</mediaImportLocation>
    <mediaImportEnsureStructure>true</mediaImportEnsureStructure>
    <mediaImportImageTypeAlias>Image</mediaImportImageTypeAlias>
    <mediaImportFileTypeAlias>File</mediaImportFileTypeAlias>
    <mediaImportFolderTypeAlias>Folder</mediaImportFolderTypeAlias>
  </mediaSettings>
  <ignoredPropertyAliasses>umbracoMemberFailedPasswordAttempts,umbracoMemberLastLockoutDate,umbracoMemberLastLogin,umbracoMemberLastPasswordChangeDate,umbracoMemberFailedPasswordAttempts</ignoredPropertyAliasses>
</cmsImport>