<?xml version="1.0" encoding="utf-8"?>
<Media Key="083b43db-0d96-449d-a20c-63071e8b9607" Alias="Image (2)" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-11T15:16:02</CreateDate>
    <NodeName Default="Image (2)" />
    <SortOrder>17</SortOrder>
    <FileHash>8117202184189211163145481562241717711399128</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1vbdwcew/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>