<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d4a26a1-16dc-4489-b39a-6917a246e2ea" Alias="3" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-16T14:27:35</CreateDate>
    <NodeName Default="3" />
    <SortOrder>15</SortOrder>
    <FileHash>210876699136351332149922621510294128146103</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u2teudo2/3.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>