<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f2e48ba-6f43-47aa-82ff-380e82684364" Alias="1048X599" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/X599</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-20T16:29:48</CreateDate>
    <NodeName Default="1048X599" />
    <SortOrder>86</SortOrder>
    <FileHash>40327736151151618817345780124247204</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xrec2l0d/1048x599.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>