<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e435ede-ad79-4318-8f4e-80ad83cf3e7e" Alias="Image 2" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/Image2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-16T14:27:36</CreateDate>
    <NodeName Default="Image 2" />
    <SortOrder>12</SortOrder>
    <FileHash>01862412916342253252208132781345184204123</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1bpegxtz/image_2.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>