<?xml version="1.0" encoding="utf-8"?>
<Media Key="9955844f-0868-458b-b5cc-2db47cae9bd6" Alias="Image (3)" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/Image3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-11T15:16:02</CreateDate>
    <NodeName Default="Image (3)" />
    <SortOrder>16</SortOrder>
    <FileHash>15920420419213524014014601315218119110473106</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jgcflgli/image.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>