<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0738c30-adc8-403f-ab10-ffff439732ff" Alias="Image 1" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-16T14:27:35</CreateDate>
    <NodeName Default="Image 1" />
    <SortOrder>13</SortOrder>
    <FileHash>2122051531121366436162119240233222711702249</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g0ghhqgi/image_1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>