<?xml version="1.0" encoding="utf-8"?>
<Media Key="c45501bd-6ef0-4194-91dc-68010d5ea083" Alias="4" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-12-16T14:27:35</CreateDate>
    <NodeName Default="4" />
    <SortOrder>14</SortOrder>
    <FileHash>601772901298135291691121017089203141227</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xmaflrhq/4.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>