<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5964b5e-1c93-4da4-97f4-223f35c511ab" Alias="76 600X1000" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/X1000</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-18T13:50:35</CreateDate>
    <NodeName Default="76 600X1000" />
    <SortOrder>92</SortOrder>
    <FileHash>17108481562259822018917318520217184712318</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lbfjnvmt/76-600x1000.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>