<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2fbe156-0b72-45f5-9616-4dc3e4479203" Alias="55 600X1000" Level="2">
  <Info>
    <Parent Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2">Images</Parent>
    <Path>/Images/X1000</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-18T15:59:08</CreateDate>
    <NodeName Default="55 600X1000" />
    <SortOrder>91</SortOrder>
    <FileHash>73137802121475194079136109195246133239159</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kdqpxyts/55-600x1000.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>