<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4cf7c1f-2d7c-4092-868e-f0305f92e3d2" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-03-25T03:32:25</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>