<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c03eebd-12e1-495f-9cbc-8fda5e541205" Alias="newspost" Level="2">
  <Info>
    <Name>NewsPost</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate>News</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9a421866-5611-4738-a91c-cb29ccaa6e68">News</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aab871bf-7e43-4e6d-b60d-b4390d3065f8" SortOrder="5">news</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>