<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aab871bf-7e43-4e6d-b60d-b4390d3065f8" Alias="news" Level="2">
  <Info>
    <Name>News</Name>
    <Icon>icon-forms-file-openoffice color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate>newsDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2daf0ff6-5fb7-4732-a004-60a6bbea42cd">newsDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>50db6d7f-45e8-4e48-8416-b107c94b1625</Key>
      <Name>News Author</Name>
      <Alias>newsAuthor</Alias>
      <Definition>287f0c1b-ee28-49e8-8081-0844c0988d81</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>766179b2-849d-40c8-be0c-18329761d825</Key>
      <Name>News Category</Name>
      <Alias>newsCategory</Alias>
      <Definition>46af51ea-9409-4ad5-8900-442cf4ca0114</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>620f2fa4-bf56-4df8-b81a-3c85b9d3e423</Key>
      <Name>News Content</Name>
      <Alias>newsContent</Alias>
      <Definition>a8d446a1-eb44-4e27-ad6e-7bd78970eabe</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1f185362-b156-4657-8fb4-f0f9f3ae83a0</Key>
      <Name>News Hashtag</Name>
      <Alias>newsHashtag</Alias>
      <Definition>b05ca26c-2b9e-43d0-b986-651780b96241</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d664ad55-3c3a-415f-a8a4-e806c7a318df</Key>
      <Name>NewsImage</Name>
      <Alias>newsImage</Alias>
      <Definition>68f499ab-5b0b-40cb-b038-69a37534fecc</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ea3dfdb3-9681-4fd5-85dd-4c9bc03a01ae</Key>
      <Name>NewsInLandingPage</Name>
      <Alias>newsInLandingPage</Alias>
      <Definition>634904ad-d489-41a4-9e98-2a9e1460712a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d9dc7e7e-5440-46a0-af7a-75b0851a8284</Key>
      <Name>News Summary</Name>
      <Alias>newsSummary</Alias>
      <Definition>c17123db-ee59-4b95-b266-5f56b309b6a0</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a447ce37-6e4f-403f-860d-bee9565e02fa</Key>
      <Name>News Time Read</Name>
      <Alias>newsTimeRead</Alias>
      <Definition>89d6a7ac-78a2-4068-b4f5-971b0ee8d050</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a9d134b9-54e0-423f-b3c5-e4a095bd676b</Key>
      <Name>News Title</Name>
      <Alias>newsTitle</Alias>
      <Definition>0cea460b-cdb0-4de2-9480-044d90e04470</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Detail</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>