@inherits Umbraco.Web.Mvc.UmbracoViewPage
    <section id="china-locations">
        <div class="title-section">
            <h4>Our Location</h4>
               <a class="more" href="">more <i class="fas fa-chevron-right arrow arrow-1"></i><i class="fas fa-chevron-right arrow arrow-2"></i><i class="fas fa-chevron-right arrow arrow-3"></i></a>
        </div>
        <div class="container">           
            <!-- Nav tabs -->
            <ul class="nav nav-tabs location-control" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Beijing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Shanghai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Guangzhou</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container tab-pane active">
                   <div class="location-infor">
                       <h3>Beijing </h3>                             
                       <div class="description">  
                       <p> Unit 1601 Central Tower</p>
                       <p> China Overseas Plaza </p>
                       <p> No.8 GuanghuaDongli</p>
                       <p>Jianguomenwai Avenue</p>
                       <p>Beijing</p>
                       <p>China </p>
                       <p>100020</p>
                       <p>tel: +86 10 8632 4000 </p>
                       <p> fax: +86 10 6569 3039</p>
                       <p>email: beijing@rouse.com</p>
                      </div>	                         
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.1648719178575!2d116.3872826156947!3d39.8705446965986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f04d1385e5a0c9%3A0x40ebf6db9fad49da!2sChina%20Overseas%20Property%20Plaza!5e0!3m2!1svi!2s!4v1575466067566!5m2!1svi!2s" width="1641" height="756" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div id="menu1" class="container tab-pane fade">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.1648719178575!2d116.3872826156947!3d39.8705446965986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f04d1385e5a0c9%3A0x40ebf6db9fad49da!2sChina%20Overseas%20Property%20Plaza!5e0!3m2!1svi!2s!4v1575466067566!5m2!1svi!2s" width="1641" height="756" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div id="menu2" class="container tab-pane fade">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.1648719178575!2d116.3872826156947!3d39.8705446965986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f04d1385e5a0c9%3A0x40ebf6db9fad49da!2sChina%20Overseas%20Property%20Plaza!5e0!3m2!1svi!2s!4v1575466067566!5m2!1svi!2s" width="1641" height="756" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>    

    </section>
