@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.PublishedModels

@using Umbraco.Web.Models

@{
	var home = Umbraco.Content(Guid.Parse("89cda73a-5d7f-485d-ba47-8cf471e1678b"));
	 var socialNetwork = home.Value<IEnumerable<IPublishedElement>>("socialNetwork");
}
	<div class="contact-us-section follow-us-section">
				<div class="container">
					<h3>Follow us on social media</h3>
					<div class="social-icons">
					       @if ( socialNetwork != null && socialNetwork.Count() > 0 ) {
                            foreach (var socialItem in socialNetwork ) {
                             
                                 	<a href="@socialItem.Value("socialNetworkUrl")" target="_blank"><i class="@socialItem.Value("socialNetworkIcon")"></i></a>
                              }
                            }
					
			        </div>
				</div>
	</div>