@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="banner-howcan">
	<h4 class="title">Questions about joining Rouse?</h4>
	<p class="description"><a class="underline-link" href="#">Get in touch</a> with us</p>
</div>